@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
    background-color: #051D3B;
}

.cabecalho{
    display: flex;
    gap: 10%;
}

.cabecalho__logo{
    padding: 32px 0px 0px 32px;
    width: 125px;
    height: 50px;
}

.cabecalho__pesquisa{
    margin: 32px 0px 0px 32px;
    width: 720px;
    height: 45px;
    border-radius: 7px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    padding-left: 15px;
    background-color: #FFFFFF29;
    border-style: none;
    color: #f6f6f6;
}

.cabecalho__perfil{
    padding: 20px 10px 0px 0px;
    width: 125px;
    height: 68px;
}

.principal__menu {
    display: flex;
    flex-direction: column;
    color: #f6f6f6;
    padding-top: 2%;
    padding-left: 44px;
}

.principal__menu__subtitulo{
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.5em;
}

.principal__menu__link{
    text-decoration: none;

}

